.form {
    width: 450px;
    display: flex;
    flex-direction: column;
    padding: 10px 20px;
    border: 1px solid #007FFF;
    border-radius: 4px;
    margin-bottom: 15px;
}

.label {
    display: flex;
    flex-direction: column;
}

.title {
    font-size: 25px;
    margin: 5px 0px;
}

.button {
    background-color: #6CB4EE;
    border: none;
    padding: 5px 10px;
    margin-top: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    color: rgba(0, 0, 0, 0.6);
    text-shadow: 2px 8px 6px rgba(0, 0, 0, 0.2), 0px -5px 35px rgba(255, 255, 255, 0.3);
    border-radius: 3px;
    width: 150px;
}

.button:hover {
    cursor: pointer;
}

.button:active {
    background: #0066b2;
}

input {
    border: 1px solid #007FFF;
    border-radius: 4px;
    font-size: 20px;
    resize: none;
    margin-bottom: 10px;
}   


